Source: poco
Version: 1.9.2
Build-Depends: expat, libpq, pcre, sqlite3, zlib
Description: Modern, powerful open source C++ class libraries for building network and internet-based applications that run on desktop, server, mobile and embedded systems.

Feature: mysql
Build-Depends: libmysql
Description: Mysql support for POCO

Feature: postgresql
Build-Depends: libpqxx
Description: PostgreSQL support for POCO
